.sendMessageButton {
  margin-left: 1em;
  transform: translateY(-0.5em);
}

.chatBox {
  position: absolute;
  display: flex;
  flex-direction: row;
  transform: translateY(-15em);
  background-color: black;
  // padding: 1em;
}

.chatBox > .chatBar {
  display: flex;
  flex-direction: column;
  min-width: 20em;
  min-height: 47em;
  padding: 0.5em;
  border-left: solid 0.2em rgb(1, 55, 40);
  border-top: solid 0.2em rgb(1, 55, 40);
  border-right: solid 0.2em rgb(1, 55, 40);
  border-radius: 1em 0 0 0;
}

.chatBox > .chatMessagesBox {
  display: flex;
  flex-direction: column;
  min-width: 50em;
  border-top: solid 0.2em rgb(1, 55, 40);
  border-right: solid 0.2em rgb(1, 55, 40);
  padding: 1em;
  border-radius: 0 1em 0 0;
}

.channelHeader {
  background-color: rgb(1, 55, 40);
  margin-bottom: 1em;
  border-radius: 1em;
}

.messageScroll {
  border: solid 0.1em rgb(1, 55, 40);
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 1em;
}

.chatBox > .chatMessagesBox > .messageWriteBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
}

.messageChip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5em 0;
}

.messageSentByCurrentUser {
  float: right;
}

.messageSentOrReceived {
  width: 100%;
  overflow: hidden;
}

.chatBox > .chatMessagesBox {
  display: flex;
  flex-direction: column;
}

.chatBox > .chatBar > .chatTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1em;
}

.chatBox > .chatBar > .chatTopBar > h3 {
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center;
}

.chatBox > .chatBar > .chatConversations > .contactsScroller {
  // background-color: rgb(1, 55, 40);
  border-radius: 1em;
  padding: 1em 0;
}

.chatBox > .chatBar > .chatConversations > .contactsScroller > .contactElement {
  background-color: black;
  padding: 1em;
}
